html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
}

.main-container h1 {
  text-align: center;
}

.text-box {
  margin: 0px auto;
  margin-bottom: 20px;
  width: 40%;
}

p {
  //text-align: center;
  width: 500px;
  padding: 20px;
  margin: 3px 0;
  font-size: 17px;
  background: grey;
  border-radius: 5px;
  color: white;
}

span {
  right: 0;
  position: absolute;
  margin-top: -28px;
  padding: 5px;
  margin-right: 100px;
  background: white;
  color: grey;
  border-radius: 5px;
}
